name: Terraform Proxmox deploy
on:
  workflow_dispatch:


jobs:
  terraform:
    name: "Terraform"
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform format
        id: fmt
        run: terraform fmt -check
      
      - name: Terraform init
        run: terraform init

      # - name: Terraform plan
      #   run: terraform plan
      #   working-directory: infra
      #   env:
      #     #TF_VAR_pm_api_url: ${{ secrets.PROXMOX_API_URL }}
      #     TF_VAR_pm_api_token_id: ${{ secrets.PROXMOX_TOKEN_ID }}
      #     TF_VAR_pm_api_token_secret: ${{ secrets.PROXMOX_TOKEN_SECRET }}
      #     TF_VAR_pm_node: pve3
      #     TF_VAR_template_vm: 7000

      # - name: Terraform apply
      #   run: terraform apply -auto-approve
      #   working-directory: infra
      #   env:
      #     #TF_VAR_pm_api_url: ${{ secrets.PROXMOX_API_URL }}
      #     TF_VAR_pm_api_token_id: ${{ secrets.PROXMOX_TOKEN_ID }}
      #     TF_VAR_pm_api_token_secret: ${{ secrets.PROXMOX_TOKEN_SECRET }}
      #     TF_VAR_pm_node: pve3
      #     TF_VAR_template_vm: 7000
