name: Runner sanity check

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Who am I?
        run: |
          echo "Hostname:"
          hostname
          echo
          echo "User:"
          whoami
          echo
          echo "Working directory:"
          pwd
