name: Runner sanity check

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Test access to PVE3 API
        run: |
          curl -k \
          -H "Authorization: PVEAPIToken=${PROXMOX_TOKEN_ID}=${PROXMOX_TOKEN_SECRET}" \
            https://pve3:8006/api2/json/nodes | jq -r
        env:
          PROXMOX_TOKEN_ID: ${{ secrets.PROXMOX_TOKEN_ID }}
          PROXMOX_TOKEN_SECRET: ${{secrets.PROXMOX_TOKEN_SECRET}}

