name: Runner check access to proxmox

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Test access to PVE3 API
        run: |
          curl -k -s -X GET "https://pve3:8006/api2/json/cluster/resources?type=vm" \
     -H 'Authorization: PVEAPIToken=root@pam!${PROXMOX_TOKEN_ID}=${PROXMOX_TOKEN_SECRET}' | jq -r
        env:
          PROXMOX_TOKEN_ID: ${{ secrets.PROXMOX_TOKEN_ID }}
          PROXMOX_TOKEN_SECRET: ${{secrets.PROXMOX_TOKEN_SECRET}}

