name: Runner sanity check

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Use secret
        run: |
          echo "Token length: ${#PROXMOX_API_TOKEN}"
        env:
          PROXMOX_API_TOKEN: ${{ secrets.PROXMOX_API_TOKEN }}

